@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200;1,300;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.section{
    padding: 0px 100px;

}
.section2{
    margin-top: 50px;
}
.hero-flex{
    margin-right: 20px;
}

/* Home styling start here*/

header{
    background-image: url(images/home.png);
    position: relative;
    width: 100%;
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
header::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}
    
nav{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 10px;
    position: relative;
    z-index: 5;
}
.nav-logo{
    padding-bottom: 100px;
}
.nav-links ul{
    list-style: none;
    
}
.nav-links li{
    display: inline-block;
    margin: 0 1em;
    padding: 30px 0px;

}
.nav-links a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.mobile-links{
    display: none;
}
.menu-btn{
    display: none;
}
.current-page:hover{
    border-bottom: 1px solid #eee; 
}
.header-hero{
    color: #fff;
    margin-top: 15px;
}
.header-hero h1{
    line-height: 10px;
    font-weight: 900;
    font-size: 120px;
    letter-spacing: 5px;
    margin: 10px 0;
}
.header-hero h3{
    letter-spacing: 10px;
    font-weight: 600;
    font-size: 35px;
    margin-top: 10px;
}   

.header-hero h5{
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 10px;
}
.header-hero p{
    word-spacing: 2px;
    margin: 5px 0 ;
}

.home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.home-btn button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: #e0b973;
    color: #eee;
    margin: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 200px;
    word-spacing: 5px;
}

.home-scroll{
    color: #eee;
    margin-top: 30px;
    text-align: center;
    
}
.home-scroll p{
    font-weight: 400;
    margin-bottom: 3px;
    color: #eee;
}
.home-scroll img{
    width: 40px;

}
.hero-header{
    text-align: center;
    margin-bottom: 30px;
    line-height: 5px;
    color: #14274a;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 30px;

}
.hero-contain{
    margin: 40px 20px 0;
    min-height: 250px;

}
.hero-content{
    border-left: 1px solid black;
}
.hero-img{
    max-width: 600px;
}
#hero-h1{
    font-weight: 500;
    line-height: 32px;
    margin:10px 0 16px;
    padding: 10px;
    max-width: 340px;
}

#hero-p{
    margin-bottom: 10px;
    padding: 10px;
    max-width: 340px;
    line-height: 24px;
    
}
#hero-btn{
    text-align: center;
    cursor: pointer;
    background-color: #e0b973;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 160px;
    word-spacing: 5px;

}
.hero-footer{
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.hero-footer h1{
    margin: 20px 0;

}
.hero-footer h5{
    font-weight: 400;
    margin: 10px 0;
    word-spacing: 3px;
}
.hero-footer p{
    margin: 10px 0;
}
.hero-footer img{
    margin: 10px 0;
    padding: 0 10px;
}
footer{
    position: relative;
    background-color: #14274a;
    padding: 50px 100px ;
    color: #fff;
}
footer::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 30px solid #14274a;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);

    
    
}
.footer-container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content{
    list-style: none;
}
.ftr li{
    margin-bottom: 18px;
    

}
.ftr:first-child h1{
    margin-bottom: 18px;
    line-height: 18px;
}
.ftr:first-child h1 small{
    font-size: 14px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-size: 300;

}
.ftr:nth-child(3) li{
    display: flex;
    align-items: center;
    gap: 10px;


}
.ftr h3{
    margin-bottom: 18px;
}
form{
    display: flex;
    align-items: center;
    width: 100%;

}

input{
    width: 280px;
    outline: none;
    padding: 12px;
    margin: 8px 0;
    background: #14274a;
    border: 2px solid #e0b973;
    border-radius: 1px;
    color: #fff;
    
}
.btn input{
    width: 50px;
    background: #e0b973;
    color: #fff;
    transition: .3s ease background;
}


.btn:input:hover{
    background: #000;
}


/* Home styling ends here */


/* Facilities styling start here */

.fac-header{
    background-image: url(images/fac.png);
    position: relative;
    width: 100%;
    /* min-height: 700px; */
    background-size: cover;
    background-repeat: no-repeat;
}
.fac-header::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}

.fac-hero{
    text-align: center;
    padding: 0 100px;
    color: #000;
}   
.fac-text{
    margin: 20px 0;
    padding: 10px 0;
    
}
.fac-text h1{
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 15px;
}
.fac-text p{
    padding: 0 30px;
    word-spacing: 3px;
}
.fac-images{
    margin: 0 auto;
}

.fac-img {
    
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 25px 0;
    
}
.img-text {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
    width: 30%;
    font-weight: 700px;
}     

/* facilities styling ends here */

/* Room styling start here */

.room-header{
    background-image: url(images/room.png);
    position: relative;
    width: 100%;
    /* min-height: 700px; */
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.room-header::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}
.room-hero{
    text-align: center;
    padding: 0 100px;
    color: #14274a;
}   

.room-text{
    margin: 20px 0;
    padding: 10px 0;
    
}
.room-text h1{
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 15px;
}
.room-text p{
    padding: 0 30px;
    word-spacing: 3px;
}

.room-images{
    margin: 0 auto;
    
}
.room-image{
    border: 2px solid #14274a;
    border-radius: 6px;
    border-style: groove;
    margin: 30px 0;
}

.room-img {
    
    position: relative;
    display: inline-block;
    text-align: center;
    
    
}
.image-text {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: #14274a;
    color: #fff;
    padding: 10px 10px 0 10px;
    width: 100%;
    font-weight: 900px;
    font-size: 20px;
}   


.img-ftr{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    
    
}

.plus{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    
}
.plus-desc{
    text-align: center;
    margin-top: 12px;
}

.plus-sign {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #e0b973;
    border-radius: 50%;
    margin-right: 35px;
    
}


.plus-sign::before,
.plus-sign::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    background-color: #fff;
}

.plus-sign::before {
    transform: translate(-50%, -50%);
}

.plus-sign::after {
    transform: translate(-50%, -50%) rotate(90deg);
}


.img-ftr button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: #e0b973;
    color: #eee;
    margin: 12px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 150px;
    word-spacing: 5px;

}

/* Room styling ends here */










/* ----------Media queries---------------------- */



@media (max-width: 480px){
    
    nav{
        margin-bottom: 32px;

    }
    .nav-links{
        display: none;
    }
    .mobile-links{
        position: fixed;
        z-index: 9;
        inset: 0;
        width: 75%;
        max-width: 600px;
        display: block;
        background: #e0b973;
        transform: translateX(-200%);
        transition: all 0.5s ease-out;
        
    }
    .mobile-links.open{
        transform: translateX(0);

    }
    .mobile-links ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-links li{
        padding: 10px 0;
    }
    .menu-btn{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }    
    .menu-btn span{
        display: block;
        width: 28px;
        height: 2px;
        margin-bottom: 4px;
        background: #fff;
        transition: all 0.5s ease;
        
    }
    .menu-btn.open span:nth-of-type(2){
        opacity: 0;

    }
    .menu-btn.open span:nth-of-type(1){
        transform: translateY(10px) rotate(45deg);
    }
    .menu-btn.open span:nth-of-type(3){
        transform: rotate(-45deg);
    }
    .nav-logo{
        padding-bottom: 0;
    }
    .section{
        padding: 0 24px;
        overflow-x: hidden; 
    }
    .nav-logo img{
        
        width: 100px;
        height: 60px;
        object-fit: contain;


    }
    

}





















